/* Create body flexbox, and add general features like font-family, which is the same throughout the entire page */
body{
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;
}

/* Remove bullet points from list elements */
ul{
    list-style-type: none;
}

/* Remove underline and default link color */
a{
    text-decoration: none;
}

/* Edit button background and text colors */
button{
    background-color: #3882f6;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 8px 24px; 
    cursor: pointer;
    display: flex;
    flex-shrink: 0; /*Prevent buttons from shrinking*/
}


/* Block 1 */
.block-one{
    background-color: #1F2937;
}

.header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 300px 5px;
    gap: 100px;
}

.logo{
    font-size: 24px;
    color: #f9faf8;
    font-weight: 750;
}

/* Spread links horizontally */
.links{
    display: flex;
    margin: 0;
    padding: 0;
    gap: 12px;
}

/* Create hero body flexbox*/
.hero-body{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 5px 300px 25px;
    gap: 100px;
}

/* Wrap left hero body items vertically by restricting max width */
.left-hero{
    max-width:600px;
    margin: 0;
    padding: 0;
}

/* Format left hero text */
.hero-header{
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin-top: 0;
    margin-bottom: 10px;
}
.hero-text, a{
    font-size: 18px;
    color: #e5e7eb;
    margin-top: 0;
}

/* Create a placeholder for an image */
.placeholder{
    box-sizing: border-box;
    width: 350px;
    border: 2px solid white;
    border-radius: 6px;
}


/* Block 2 */
/* Create cards flexbox */
.cards{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 25px;
    margin-bottom: 15px;
}

.card-image{
    box-sizing: border-box;
    width: 250px;
    height: 275px;
    border: 2px solid blue;
    border-radius: 4px;
    margin-bottom: 10px;
}

.item{
    max-width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.block-two-text#header{
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    text-align: center;
}

/* Block 3 */
.block-three{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;;
}

blockquote{
    text-align: left;
    max-width: 900px;
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
    margin: 0;
    padding: 0;
}

figcaption{
    text-align: right;
}

/* Block 4 */
.block-four{
    box-sizing: border-box;
    background-color: #3882f6;
    display: flex;
    justify-content: space-around;
    height: 100px;
    width: 750px;
    align-self: center;
    margin-top: 75px;
    margin-bottom: 75px;
    border-radius: 10px;
    align-items: center;
}

.cta-title{
    font-weight: 700;
    color: white;
    font-size: medium;
}

.cta-text{
    font-size: small;
    color: white;
}

.button-two{
    border: 2px solid white;
    margin: 0;
}


/* Block 6 */
.block-five{
    background-color: #1F2937;
    margin-bottom: 0;
}

.Copyright{
    font-size: small;
    color: white;
    text-align: center;
}